#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	box-sizing: border-box;
	background-color: rgb(224, 219, 219);

}

body {
	font-family: Arial, sans-serif;
	background-color: rgb(224, 219, 219);
}

.main-container {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	margin-top: 107px;
}

.container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: black;
	padding: 10px;
	justify-items: center;
	flex-grow: 20px;

}

.outer-container {
	display: flex;
	flex-direction: row;
	width: 1504px;
}

.container1,
.container2,
.container3 {
	border: 1px solid grey;
	background-color: white;
	/* width: 50%; */
	/* height: 450px; */
}

.title {
	background-color: black;
	/* z-index: -1; */
	color: white;
	
}

ul {
	display: flex;
	list-style: none;
	/* width: 100%; */
	gap: 20px;
	justify-content: end;
}
a {
	text-decoration: none;
}
a:hover {
	background-color: rgb(248, 238, 238);
}

.outer-container2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 200px;
}
